:root {
    --color-primary: #1abc9c;
    --color-secondary: #76d7c4;
    --color-white: white;
    --color-success: #52be80;
    --color-danger: #cd6155;
    --color-info: #5499c7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 17px;
}

body {
    background: var(--color-primary);
}

.box-form {
    width: 30rem;
    background: var(--color-white);
    margin: 4rem auto 0 auto;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.5rem black;
}

.input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input>label {
    color: gray;
    font-weight: 400;
}

.input>input,
select {
    border: none;
    outline: none;
    border-bottom: 0.1rem solid var(--color-primary);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #fbf4f4;
}

.button>button {
    border: none;
    outline: none;
    border: 0.1rem solid var(--color-primary);
    color: var(--color-primary);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.button>button:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.alert {
    width: 100%;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
}

.alert>.alert-title {
    font-weight: bold;
    font-size: 0.8rem;
}

.alert>.alert-text {
    font-size: 0.7rem;
}

.success {
    background: var(--color-success);
}

.danger {
    background: var(--color-danger);
}

.info {
    background: var(--color-info);
}

.hidden {
    display: none !important;
}